
#subscribe{
    padding: 22px;
    background-color: #f1f1f1;
}
.form-nav-input-borders {
    border: none;
    height: 100%;
}
.form-nav-input-borders{
    border:none;
}
#goto-top-page{
	position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
}
.button-input{
    width: 80px;
    border-radius: 8px;
    background: #C70101;
    color: white;
    font-weight: 700;
}
.footer-nav__send {
    display: flex;
    align-items: center;
    color:#B10606
}
.footer{
    display: flex;
    justify-content: center;
   
}
#footer{
    background-image: url("../image/bg-footer.png");
}
.footer-body{
    display:flex;
    justify-content: center;
    padding: 12px;
    background-color: #780000;
    color: white;
}
.footer-nav__send h3{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 40px;
}
.form-email{
    display:flex;
    height:46px
}
.form-nav-input{
    font-size: 14px;
}
.footer-logo_by{
    text-align: center;
}
.footer-left-logo {
    display: flex;
    border-bottom: 3px solid white;
}
.footer-logo_united {
    display: flex;
    height: 80px;
   
    margin-right: 25px;
}
.footer-left-span{
  
  margin-top: 10px;
}
.footer-left-span18{
    font-size: 18px;
    font-weight: 700;
}
.footer-left-span14{
    font-size: 14px;
    font-weight: 700;
}
.footer-left {
    display: grid;
    
}
.footer__copyright{
    display:grid;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}
.footer__copyright h3{
    margin-left: 10px;
    color: #4080ff;
}
.text-ali-center{
    text-align: center;
}
.footer-header{
    display: flex;
}
.icon-backgroud{
    background-color: white;
}
.footer-header-info{
    display: flex;
    JUSTIFY-CONTENT: space-around;
}
div.display-grid{
    display: grid;
}
p.footer-about{
    color: white;
}
p.footer-about a{
    color: white;
}
p.footer-about a:hover{
    color: #C70101;
}

