/* Desktop Frist */
@media screen and (max-width: 1724px) {
  .nav-buy-team{
    right: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .list-member {
    height:389px;
  }
}

/* Ipad pro screen */
@media screen and (max-width: 1023px) {
  .header > .nav img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
/* Mobile Screen */
@media screen and (max-width: 600px) {
  .list-member {
    display: block;
  }
  div#member1{
    height:auto;
  }
  .member-list-tv{
    top:0;
  }
  .member-list-td{
    top:0;
  }
  div#member2{
    height:auto;
  }
  .member-list-tv.lenger{
    top:0;
  }
  div#member3{
    height:auto;
  }
  
  .list-member .member {
    width: 100%;
  }
  .list-member .member img {
    margin-bottom: 10px;
  }
  .list-space {
    display: block;
  }
  .list-space .space {
    width: calc(100% - 20px);
    margin: 16px auto;
    height: 400px;
  }
  .footer-nav__send h3{
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  .footer {
    position: relative;

  }
  .content-heading h2{
    font-size: 20px;
  }
  
  .form-email {
    display: flex;
    height: 46px;
    justify-content: center;
}
.footer-header{
  display: none;
}
.footer-left-span14{
  display: none;
}
.footer__copyright {
  display: none;
}
.footer-body{
  display: grid;
}
  #subscribe{
    display: block;
  }
  .tabs>button{
    padding :12px
  }
  ul.list-member {
    display:inline-block;

  }
  .contact-details {
    display: block;
  }
  .contact-details .contact-infor,
  .contact-details .contact-note {
    width: 100%;
    margin: 10px 0;
  }
  .contact-infor ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
  }
  
  .contact-note button {
    width: 100%;
  }
  .contact-note .contact-name-email {
    flex-direction: column;
  }
  .contact-note .contact-name-email input {
    width: 100%;
    margin: 10px 0;
  }
  .header-search {
    display: none;
  }
  .header .nav ul {
    overflow: hidden;
    width: 96px;
  }
  .btn__more--responsive {
    color: beige  !important;
    display: block;
  }
  .openNav {
    display: block;
  }
  .list-space.row.nav-football-team{
    height: auto;
  }
  .input {
    padding: 12px;
  }
  .slider-content :is(p, h2) {
    display: none;
  }
  i {
    padding: 0;
  }
  .header > .nav img {
    display: block;
    width: 20%;
  }
  .nav-football-team-info{
    margin: 0;
    display: grid;
  }
  .content-heading .video img {
  top:72%;
  }
  h2.tickest {
    font-size: 30px;
    color: #c70101;
}
.nav-football-team{
  
}
img.img-brt{
  width:30px;
}
img.img-mu{
  width:30px;
}
.nav-team-span{
  font-size: 11px;
  padding: 0;
  font-weight: 600;
}
.nav-button.nav-button-1{
  font-size: 10px;
 width: 100px;
}
.nav-button.nav-button-2{
  font-size: 11px;
  margin-left: 20px;
  border: 2px solid;
  width: 100px;
}
#goto-top-page { 
  bottom:100px
}
.nav-buy-team{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    left: 0px;
}
.nav-football-info{
    display: flex;
    max-width: 1293px;
    
    padding: 20px;
    justify-content: center;
}
.nav-football-info-span {
  color: black;
  padding-left: 15px;
}
.list-space .space img{
  position: relative;
    width: 80%;
    left: 37px;
}
.space-about .space-name{
  left: 35px;
    position: relative;
    font-size: 20px;
}
.button.btn.js-buy-ticket {
  position: relative;
width: 110px;
    font-size: 15px;
}
.sub-space-name{
    position: relative;
    font-size: 14px;
    padding: 10px 0;
    left: 37px;
}
}
  


@media screen and (max-height: 450px) {
  .modal-header {
    padding: 10px 6px;
  }
  .modal-header .modal-header-name {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 4px;
  }
  .modal-header button {
    padding: 10px;
  }

  .modal-content {
    padding: 0 10px;
  }
  .modal-content .modal-input .input-title {
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
  }
  .modal-content .modal-input input {
    padding: 5px;
    line-height: 20px;
  }
  .modal-content > button {
    padding: 5px;
    line-height: 22px;
    margin: 16px 0;
  }
  .modal-content > p {
    margin: 10px 0;
    line-height: 20px;
  }
  video {
    width: 80%;
  }
}
